html, body {
  background-image: url(../images/back_ground_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  margin-top: auto;
  margin-bottom: auto;
  width: 35%;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #FFCC99;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -35px;
}

.login_btn {
  color: black;
  background-color: #FFCC99 !important;
  width: 220px;
}

.login_btn:hover {
  color: black;
  background-color: white !important;
}

a:link {
  text-decoration: none;
  color: white !important;
}

a:visited {
  text-decoration: none;
  color: white !important;
}

a:hover {
  text-decoration: overline !important;
  color: white !important;
}

a:active {
  text-decoration: none;
  color: white !important;
}

.h-90 {
  margin-top: 90px;
}

.mg-btn {
  margin-left: 63px;
}

.brand-icon {
  width: 50px;
  height: 50px;
  margin-top: -8px;
  border-radius: 100%;
  vertical-align: middle;
}

.main_name {
  font-family: 'Monoton', cursive;
  font-weight: 400;
  font-size: 400pt;
}
